<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>주문조회</title>
<script type="text/javascript" src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
<style type="text/css">
*{
	padding:0px;
	margin:0px;
}
section{
	margin:auto;
	margin-top:3%;
	width:900px;
	height:370px;
	border:1px solid red;
	padding-top:60px;
	padding-bottom:60px;
}
</style>
</head>
<body>
	<section>
		<div>
			<div>
				<h1>
				
				
				</h1>
			</div>
		</div>
	</section>
</body>
</html>