div.category_tit {
    height: 20px;
    padding-bottom: 17px;
    font-family: Arial,'arial';
}

#contents_r {
    width: 950px;
    padding: 0 0 40px;
    _height: 1%;
    position: relative;
    z-index: 10;
}

#contents_r {
    position: relative;
    width: 950px;
    margin: 0 auto;
    padding-top: 267px;
}

div, p, ol, ul, li, img, a, h1, h2, h3, h4, h5, h6, form, span, iframe, dl, dt, dd {
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 14px;
    list-style: none;
}

a:hover {
    color: #797b80;
    text-decoration: none;
}
			
div.category_tit.white h3 {
    color: #fff;
}

div.category_tit h3 {
    float: left;
    margin-right: 8px;
    color: #323232;
    font: 24px/24px 'adinenuPro-black';
    text-transform: uppercase;
}

div.category_tit span {
    float: left;
    color: #323232;
    font: 24px/24px 'adinenuPro-light';
    text-transform: uppercase;
}

div.category_tit.white span {
    color: #fff;
}

.list_container {
    clear: both;
}

.snb {
    float: left;
    width: 182px;
}

.snb h4 {
    height: 39px;
    padding-left: 10px;
    color: #000;
    border-bottom: 1px solid #ebebeb;
    background: #fff;
    font: 16px/42px 'adinenuPro-black' !important;
    text-transform: uppercase;
    font-weight: bold;
}

.snb li.lf_dep1>a:hover {
    background: #e2e3e3;
}

.snb>ul {
    margin-bottom: 10px;
}

.snb li.lf_dep1 {
    border-bottom: 1px solid #ebebeb;
    background: #fff;
}

.snb li.lf_dep1>a {
    display: block;
    width: 172px;
    height: 100%;
    padding: 14px 0 14px 10px;
    color: #333;
    letter-spacing: -.75px;
    font-weight: bold;
}

.snb li.lf_dep1 .category_depth2 {
    color: #333;
    font-size: 12px;
    letter-spacing: -.75px;
}

.snb li.lf_dep1 .lfmenu_depth2 {
    display: none;
    overflow: hidden;
}

.snb li.lf_dep1 .category_depth2 dl dt {
    padding-left: 28px;
    margin-bottom: 7px;
    font-weight: bold;
    font-size: 12px;
}

.snb li.lf_dep1 .category_depth2 ul {
    margin-bottom: 10px;
}

.snb li.lf_dep1 .category_depth2 li a.on {
    background: #e2e3e3;
}

.snb li.lf_dep1 .category_depth2 dl dt {
    padding-left: 28px;
    margin-bottom: 7px;
    font-weight: bold;
    font-size: 12px;
}

.cont758 {
    width: 758px;
    float: right;
    overflow: hidden;
}

form {
    display: block;
    border: none;
}

input {
    border: 1px solid #c6c6c6;
}

input {
    font: normal 12px/14px Dotum;
    padding: 2px 0 -2px 0;
    vertical-align: middle;
    border: none;
    color: #666;
}

div.cont758 .sort {
    height: 30px;
    padding: 10px 10px 0;
    margin-bottom: 10px;
    background-color: #333;
    position: relative;
}

div.cont758 .sort ul {
    float: left;
    margin-top: 3px;
    position: relative;
    z-index: 11;
}

div.cont758 .sort li {
    float: left;
    padding-right: 10px;
    margin-right: 10px;
    background: url(//image.adidas.co.kr/images/adidas/common/bg_linebar_sort.gif) right 2px no-repeat;
}

div.cont758 .sort li a.on {
    font-weight: bold;
    color: #fff;
}
div.cont758 .sort li a {
    color: #ccc;
    letter-spacing: -.75px;
}

a:visited {
    color: #797b80;
    text-decoration: none;
}

a:link {
    color: #797b80;
    text-decoration: none;
    cursor: pointer;
}

div.cont758 .sort div.sort_amount {
    float: right;
    font-family: 'Arial',arial;
    position: relative;
    z-index: 7;
}

div.cont758 .sort div.sort_amount strong {
    color: #fff;
    font-weight: normal;
}

div.cont758 .sort div.sort_amount {
    float: right;
    font-family: 'Arial',arial;
    position: relative;
    z-index: 7;
}

div.cont758 .sort div.sort_amount strong {
    color: #fff;
    font-weight: normal;
}

div.cont758 .sort div.sort_amount {
    float: right;
    font-family: 'Arial',arial;
    position: relative;
    z-index: 7;
}

div.cont758 .sort div.sort_amount select {
    width: 75px;
    margin-left: 8px;
}
select {
    font: normal 12px 'gulim','굴림';
    height: 18px;
    vertical-align: middle;
    color: #888;
    padding: 0;
    margin: 0;
}

div.cont758 .sort div.sort_amount a {
    color: #ccc;
}
a:visited {
    color: #797b80;
    text-decoration: none;
}
a:link {
    color: #797b80;
    text-decoration: none;
    cursor: pointer;
}
img {
    border: 0;
}

div.cont758 .prodlist ul {
    height: 315px;
    margin-bottom: 10px;
}

div.cont758 .prodlist li {
    width: 182px;
    height: 315px;
    margin: 0 10px 0 0;
    position: relative;
    float: left;
    background: #fff;
}

div.cont758 .prodlist li .img {
    padding: 7px 0 0;
    text-align: center;
    position: relative;
    z-index: 1;
}

div.cont758 .prodlist li .img a {
    width: 170px;
    height: 170px;
    margin: 0 auto;
    display: block;
    position: relative;
}

div.cont758 .prodlist li .info {
    height: 42px;
    position: relative;
    overflow: hidden;
}

div.cont758 .prodlist li .logo.sp {
    width: 30px;
    height: 23px;
    background-position: -100px -30px;
    text-indent: -5000px;
}

div.cont758 .prodlist li .logo {
    width: 30px;
    height: 23px;
    background-position: -100px -30px;
    margin: 13px 0 6px 10px;
}

div.cont758 .prodlist li .tit {
    height: 29px;
    overflow: hidden;
    padding: 7px 10px 0;
    font: 11px/14px 'Arial','dotum',dotum;
    margin-bottom: 8px;
    border-top: 1px dotted #ccc;
}

div.cont758 .prodlist li .tit a {
    color: #666;
    line-height: 16px;
    position: relative;
    z-index: 1;
}

div.cont758 .prodlist li .pop_level {
    margin-left: 10px;
}

.pop_level div.point50 {
    width: 61px;
}

.pop_level div {
    width: 0;
    top: 0;
    position: absolute;
    left: 0;
    height: 11px;
    background-position: 0 -75px;
    text-indent: -5000px;
}

div.cont758 .prodlist li .price {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
    font: bold 18px/18px 'Arial',arial;
    color: #333;
    letter-spacing: -.5px;
}

div.cont758 .prodlist li .price em {
    position: relative;
    top: 1px;
    font: bold 18px 'helvetica',helvetica;
}

div.cont758 .prodlist li .price span {
    padding-left: 3px;
    color: #666;
    font: bold 12px 'dotum',dotum;
    color: #333;
}

div.cont758 .prodlist li.last {
    margin-right: 0;
}

div.cont758 .prodlist li .othercolor-products-list .slider_wrap ul li img {
    width: 34px;
    position: absolute;
    top: 0;
    right: 0;
}

div.cont758 .prodlist li .othercolor-products-list .slider_wrap ul li.on {
    height: 32px;
    border-bottom: 2px solid #000;
}
div.cont758 .prodlist li .othercolor-products-list .slider_wrap ul li {
    width: 34px;
    height: 34px;
    margin: 0 4px 0 0;
    position: relative;
    float: left;
    overflow: hidden;
}

div.cont758 .paging_r {
    height: 25px;
    padding: 15px 10px 0 0;
    background-color: #dbdbdb;
    text-align: right;
}

.paging_r {
    height: 25px;
    padding: 15px 10px 0 0;
    text-align: right;
    background: #dbdbdb;
}

div.cont758 .paging_r strong {
    color: #333;
    font-weight: bold;
}

div.cont758 .paging_r a, div.cont758 .paging_r strong {
    display: inline-block;
    vertical-align: top;
    font: 12px 'Arial',arial;
    color: #226ebb;
    padding: 0 1px;
}

.paging_r strong {
    color: #333;
    font-weight: bold;
}

div.cont758 .paging_r a, div.cont758 .paging_r strong {
    display: inline-block;
    vertical-align: top;
    font: 12px 'Arial',arial;
    color: #226ebb;
    padding: 0 1px;
}

div.cont758 .paging_r .next {
    width: 13px;
    height: 13px;
    background-position: right -40px;
    text-indent: -5000px;
}

div.cont758 .prodlist li .othercolor-products-list .slider_wrap ul li a {
    cursor: default;
}

div.category_tit h3 {
    float: left;
    margin-right: 8px;
    color: #323232;
    font: 24px/24px 'adinenuPro-black';
    text-transform: uppercase;
}

div.cont758 .prodlist li .price span.line_through {
    color: #999;
    text-decoration: line-through;
    font-size: 11px;
    padding: 0;
    font-weight: normal;
    letter-spacing: 0;
}

div.cont758 .prodlist li .price span.sale {
    margin-left: 3px;
    color: #ff1e00;
    font-weight: bold;
}

div.cont758 .prodlist li .othercolor-products-list .slider_wrap {
    width: 148px;
    height: 34px;
    position: relative;
    overflow: hidden;
    margin: 4px 17px 0;
    background: #fff;
}

div.cont758 .prodlist li .othercolor-products-list {
    /* width: 182px; */
    height: 42px;
    position: absolute;
    top: 177px;
    left: 0;
    overflow: hidden;
    background: #fff;
    display: none;
}

.spt_bg {
    display: block;
}

#contents_r:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}